.euler {
	display: flex;
	position: relative;
	column-gap: 20px;
	align-items: center;
	padding-bottom: 1vh;
}

.headerSite {
	padding: 1vh 0;
}

.imgEuler {
	flex: none;
	position: relative;
	width: 15vw;
}

@media (max-width: 720px) {
	.euler {
		flex-direction: column;
	}
	.header {
		font-size: 18px;
	}
	.headerSite {
		font-size: 16px;
	}
	.content p {
		font-size: 14px;
	}
}
